/* ----- Desktop ----- */
@media ( max-width: 1900px ){
    .products-wrap > .container > .row {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media ( max-width: 1750px ){
    .header-search {
        margin-right: 30px;
    }
}
@media (max-height: 700px) {
    .banner-slider .banner-slider-content {
        padding: 40px 0 70px;
    }    
    .banner-slider .owl-dots {
        bottom: 25px;
    }
}
/* ----- Laptop ----- */
@media ( max-width: 1550px ) {
    body {
        font-size: 14px;
    }
    .h1, h1 {
        margin-bottom: 16px;
    }
    .h2, h2 {
        font-size: 78px;
        margin-bottom: 16px;
    }
    .h3, h3 {
        font-size: 52px;
        margin-bottom: 14px;
    }
    .h4, h4 {
        font-size: 35px;
        margin-bottom: 14px;
    }
    .h5, h5 {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .h6, h6 {
        font-size: 16px;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 15px;
    }
    /* home */
    .header-top-space {
        padding-top: 260px;
    }
    .header-top-home img {
        max-width: 22px;
    }
    .header-top {
        padding: 5px 0;
    }
    .hamburger .wrap, .hamburger-line {
        font-size: 45px;
    }
    .hamburger .line, .hamburger-line {
        height: 3px;
        margin: 5px auto;
    }
    .header-top-home {
        margin-right: 20px;
    }
    .header-search {
        max-width: 260px;
        height: 32px;
        border-radius: 4px;
    }
    .header-search input[type='search'] {
        font-size: 12px;
    }
    .header-search-submit img {
        max-width: 18px;
    }
    .main-menu ul li {
        padding: 0 3px;
    }
    .main-menu ul li a {
        border-radius: 4px;
        padding: 7px 10px;
        min-width: 90px;
    }
    .header-share-concept {
        max-width: 230px;
    }
    .header-lower-part .logo {
        max-width: 290px;
    }
    .header-lower-right strong {
        font-size: 30px;
    }
    .main-header.sticky { 
        padding-bottom: 15px;
    }
    .main-header.sticky .logo {
        max-width: 135px;
    }
    .main-header.sticky .header-share-concept {
        max-width: 200px;
    }
    .main-header.sticky .header-lower-right strong {
        font-size: 20px;
    }
    .main-header.sticky .header-bottom li a {
        font-size: 14px;
    }
    .main-menu ul {
        padding-left: 0;
    }
    .banner-slider-item p {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .banner-slider-heading {
        margin-bottom: 5px;
    }
    .btn {
        padding: 5px 16px;
        border-radius: 5px;
    }
    .banner-down-btn img {
        max-width: 70px;
    }
    .banner-slider .owl-dots .owl-dot {
        height: 12px;
        width: 12px;
        margin: 0 9px;
    }
    .theme-stroke-heading strong {
        font-size: 104px;
    }
    .theme-stroke-heading {
        padding-top: 40px;
    }
    .products-box {
        box-shadow: 0 0 0px 10px rgba(255, 255, 255, 0.2);
    }
    .g-5, .gy-5 {
        --bs-gutter-y: 3rem;
    }
    .g-5, .gx-5 {
        --bs-gutter-x: 3rem;
    }
    .about-left-logo img {
        max-width: 280px;
    }
    .about-middle-contect p {
        font-size: 16px;
        margin-bottom: 18px;
    }
    .share-concept-form-box, .contact-links-box {
        max-width: 300px;
    }
    .products-slider-section .updates-slider, .products-slider-section .products-slider {
        margin-left: -13px;
        margin-right: -13px;
    }
    .products-slider-section .owl-item {
        padding-left: 13px;
        padding-right: 13px;
    }
    .updates-slider-item {
        max-width: 450px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .updates-box-content h6, .updates-box-content .h6 {
        font-size: 21px;
    } 
    .updates-box-content {
        padding: 18px 8px 0;
    }
    .owl-nav button, .owl-next, .owl-prev {
        height: 33px;
        width: 33px;
    }
    .owl-nav button span, .owl-next span, .owl-prev span {
        font-size: 23px;
        top: -2px;
    }
    .updates-custom-nav, .products-custom-nav {
        column-gap: 10px;
    }
    .footer-top-col {
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 15px;
    }
    .footer-top-heading h6, .footer-top-heading .h6{
        font-size: 14px;
    }
    .footer-top-heading {
        min-width: 120px;
        max-width: 120px;
    }
    .footer-bottom-col.-middle h6, .footer-bottom-col.-middle .h6 {
        font-size: 18px;
    }
    .footer-bottom-row {
        margin: 0 -3%;
    }
    .footer-bottom-col h6, .footer-bottom-col .h6 {
        margin-bottom: 30px;
    }
    .footer-bottom-img {
        height: 140px;
        max-width: 300px;
    }
    .footer-web-url a {
        font-size: 18px;
    }
    .footer-web-url + strong {
        font-size: 16px;
    }
    .footer-top-col ul li {
        padding-bottom: 8px;
    }
    /* about */
    .breadcrumb .header-top-home img{
        max-width: 15px;
    }
    .breadcrumb-left, .breadcrumb-back {
        padding: 6px 15px;
    }
    .breadcrumb-back img {
        max-width: 22px;
    }
    .about-banner-block {
        padding: 30px 24px;
    }
    .about-banner-block h6, .about-banner-block .h6 {
        font-size: 20px;
    }
    .about-block-icon {
        max-width: 90px;
        height: 77px;
        margin-bottom: 19px;
    }
    .about-banner-desc p {
        font-size: 18px;
    }
    .about-banner-desc.-sub-cat{
        margin-top: 50px;
    }
    .pagination a, .pagination .active span {
        padding: 5px 13px;
        border-radius: 5px;
    }
    .pagination .prev a, .pagination .next a {
        font-size: 23px;
        padding-top: 6px;
        padding-bottom: 10px;
    }
    .updates-blocks-list .updates-slider-item {
        margin-left: 0;
        margin-right: 0;
    }
    .updates-blocks-list .updates-blocks-col {
        margin-bottom: 24px;
    }
}
/* ----- Tablet  ----- */
@media ( max-width: 1199px ){
    .container, .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-search {
        margin-right: 0;
    }
}
@media ( max-width: 991px ) {
    .header-upper-part {
        display: flex;
        flex-direction: column-reverse;
        background-color: #000000;
        margin-left: -20px;
        margin-right: -20px;
    }
    .header-top, .header-bottom {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-lower-part .logo {
        margin-top: 0;
    }
    .main-header.sticky {
        padding-bottom: 0;
    }
    .main-header .logo {
        max-width: 170px;
    }
    .main-header.sticky .logo {
        max-width: 0;
        margin-top: 0;
        height: 0;
    }
}
/* ----- Mobile ----- */
@media ( max-width: 767px ) {
	
}
@media ( max-width: 575px ) {

}
